{% extends "template.html" %}
{% block content %}
 

<section>
    <div class="container py-5">
  
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-8">
  
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center p-3"
              style="border-top: 4px solid #052C42;">
              <h5 class="mb-0">Chat messages</h5>
              <div class="d-flex flex-row align-items-center">
                <span class="badge" style="background-color: #052C42; color: white;">20</span> <!-- Cambiar el color del fondo y del texto -->
                <i class="fas fa-minus me-3 text-muted fa-xs"></i>
                <i class="fas fa-comments me-3 text-muted fa-xs"></i>
                <i class="fas fa-times text-muted fa-xs"></i>
              </div>
          </div>
          <div class="card-body">

          {% for i,item in chatmsg.items  %}

          <h1>{{ i }}<h1>
                 {% if i|divisibleby:2  %}

            <div class="d-flex flex-row justify-content-start mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
              <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                <p class="small mb-0">{{ item }}</p>
              </div>
            </div>
                  {% else %}

            <div class="d-flex flex-row justify-content-end mb-4">
              <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">{{ item }}</p>
              </div>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
            </div>

                {% endif %}

            {% endfor %}
          <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <div class="input-group mb-0">
              <form action = "" method = "POST">
              <input type="text" class="form-control" placeholder="Type message"
                aria-label="Recipient's username" aria-describedby="button-addon2"
                id="message"  name="message" />
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="button" id="button-addon2" style="padding-top: .55rem;">
                Send
              </button>
              {% csrf_token %} 
            </form>
            </div>
          </div>


          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock %}