{% extends "template.html" %}
{% block content %}


<div class="container text-container">
    <div class="row">
        <div class="col-md-6">
            <h2>¿En qué te ayudamos?</h2>
            <div class="button-container">
                <a href="#" class="custom-button">Devoluciones, cancelaciones y reembolsos</a>
                <a href="#" class="custom-button">Soporte técnico</a>
                <a href="#" class="custom-button">Limpieza de acuario</a>
                <a href="#" class="custom-button">Guarderia</a>
                <a href="#" class="custom-button">Otros</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}