# Tokens hold sensitive user information, make the key as random as possible to make it harder for people to guess it and decode any token
ENCODING_KEY="" # A unique string used to generate dashboard tokens