{% extends "templateshop.html" %}
{% block content %}
<div class="w-100 p-3">
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
    <h3></h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Suma</th>
        </tr>
      </thead>
      <tbody>
        {% if not request.session.carro.items %}
          <tr>
            <td colspan="4">
              <div class="alert alert-danger text-center">
                El Carrito esta vacio
              </div>
            </td>
          </tr>

        {% else %}

            {% for key, value in request.session.carro.items %}
           <tr>
            <th scope="row">{{ forloop.counter }} </th>
            <td>{{value.nombre}}</td>
            <td>{{value.cantidad}}</td>
            <td>{{value.precio}}</td>

          </tr>

          {% endfor %}
        {% endif %}      
      </tbody>
    </table>
    <h3>Total: {{total_carro}}</h3>
    <br>
    <br>
    <h2>Datos del usuario</h2>
    {% if request.user.is_authenticated %}
        <table>
          <tr>
          <th>Nombre</th>
          <th>Email</th>
          <!--th>Telefono</th-->
          </tr>
          <tr>
            <th>{{ request.user }}</th>
            <th>{{ request.user.email }}</th>
            <!--th>{{ request.user }}</th-->
          </tr>
        </table>
        <br><br>
          <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                <label class="form-label" for="customFile"><h3>Inserte el comprobante de pago</h3></label>
                <input type="file" name="upload"  class="form-control" id="customFile" accept="image/*" required>
                <br>
                <button type="submmit" class="btn btn-primary btn-lg btn-block btn btn-success">Pagar</button>
             
          </form>

    <a href="/pagar/">
    </a>
    {% endif %}
    {{ msg }}
    </div>
  </div>
</div>
{% endblock %}