{% extends "template.html" %}
{% block content %}

<h1>Tienda Peces</h1>
<div class="w-50 p-3">
	<p class="text-justify">
		Bienvenido a nuestra tienda de peces, donde podrás encontrar todo lo que necesitas para crear tu acuario ideal. Tenemos una amplia variedad de peces de agua dulce, así como plantas, decoraciones y equipo para acuarios. Nuestro personal capacitado está siempre dispuesto a ayudarte a elegir los mejores peces y accesorios para tu acuario, y a responder cualquier pregunta que puedas tener.¡comienza a construir el acuario de tus sueños hoy mismo comprando en nuestra tienda!
	</p>
</div>
Si tienes dudas Escribenos 
<a href="/contacto">Contacto </a>



{% endblock %}