{% extends "template.html" %}
{% block content %}

<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
        		{% csrf_token %}
        		{{ form.as_p }}

            <input type="file" id="files" name="files" multiple="multiple" />
            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Upload Files" class="btn btn-lg btn-primary" />
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


{% endblock %}