{% extends "templateshop.html" %}
{% block content %}
<style type="text/css">
          .container-fluid {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
                .content-container {
            background-color: rgba(255, 255, 255, 0.5); /* Color de fondo blanco con transparencia */
            padding: 70px; /* Espacio interno para el contenido */
            border-radius: 10px; /* Bordes redondeados */
            width: 80%;
            color: #052C42;
        }
</style>
<div class="container-fluid">

<div class="w-100 p-3">
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="content-container">
    <h3></h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Suma</th>
        </tr>
      </thead>
      <tbody>
        {% if not request.session.carro.items %}
          <tr>
            <td colspan="4">
              <div class="alert alert-danger text-center">
                El Carrito esta vacio
              </div>
            </td>
          </tr>

        {% else %}

            {% for key, value in request.session.carro.items %}
           <tr>
            <th scope="row">{{ forloop.counter }} </th>
            <td>{{value.nombre}}</td>
            <td>{{value.cantidad}}</td>
            <td>
                    <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                    <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>
                    <br/>
                    {{value.precio}} $
            </td>

          </tr>

          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <h3>Total: {{total_carro}}</h3>
    <br>
    {% if request.user.is_authenticated %}
    <a href="/tienda/pagar/">
      <button type="button" class="btn btn-primary btn-lg btn-block btn btn-success">Pagar</button>
    </a>
    {% else %}
    <a href="" >
      <button type="button" disabled class="btn btn-primary btn-lg btn-block btn btn-success">Pagar</button>
    </a>
    <h3>Nesesitas <a href="/autenticacion/login">registrarte </a></h3>
    {% endif %}
    </div></div>
  </div>
  </div>
</div>
{% endblock %}