{% extends "template.html" %}
{% block content %}
{% for producto in productos %}
{{ producto.nombre }}
{{ producto.imagen.url }}
<img  src="{{ producto.imagen.url }}" alt="" style="width:50%;">

<section class="page-section clearfix">
	<div class="conteiner">
		<div class="intro"></div>
			<img  src="{{producto.image.url}}" alt="" style="width:50%;">
			<div>
				<div>
					
				<h2>
				<span class="section-heading-lower">{{producto.nombre}}</span>
				<span class="section-heading-upper">{{producto.precio}}</span>
				</h2>
				</div>
			</div>
	</div>
	

</section>
{% endfor %}
{% endblock %}